.followwrapper {

}
.socialwrapper {
	margin-top: 14px;
}
.followbaker,
.socialbaker {
	display: inline-block;
	height: auto;
}
.followbaker a,
.socialbaker a {
	display: block;
	height: auto;
	text-decoration: none;
	border: none;
}
.followicon,
.shareicon {
	max-width:48px;
}
@media (max-width: 1299px) {
	.followicon, .shareicon { max-width:48px; }
	.socialwrapper { margin-top: 10px; }
}

@media (max-width: 999px) {
	.followicon, .shareicon { max-width:48px; }
	.socialwrapper { margin-top: 10px; }
}

@media (max-width: 799px) {
	.followicon, .shareicon { max-width:48px; }
	.socialwrapper { margin-top: 10px; }
}

